<section data-ng-controller="ArchivesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Archive</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="archive.title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea name="description" data-ng-model="archive.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <a class="btn btn-default" ng-click="createMedia()">Add Media</a>
                    <ul class="list-group">
                        <li data-ng-repeat="m in archive.media" class="list-group-item">
                            {{m.title}} <a class="btn btn-default" ng-click="editMedia({{m}})">Edit</a><a class="btn btn-default" ng-click="removeMedia({{m}})">Remove</a>
                        </li>
                    </ul>
                    <div class="alert alert-warning text-center" data-ng-hide="!media || media.length">
                        No Media yet, why don't you create one?
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>