<div class="modal-header">
	    <h3 class="modal-title">Create a Media</h3>
</div>
<div class="modal-body">
    <form name="archiveForm" data-ng-submit="addMedia()" novalidate>
    	<fieldset>
			<div class="form-group" ng-class="{ 'has-error': archiveForm.title.$dirty && archiveForm.title.$invalid }">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="mediaType">Media Type</label>
				<div class="controls">
					<div class="btn-group" data-toggle="buttons">
				        <label class="btn btn-primary" data-ng-model="mediaType" btn-radio="'vimeo'">Vimeo</label>
				        <label class="btn btn-primary" data-ng-model="mediaType" btn-radio="'soundcloud'">Soundcloud</label>
				    </div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="mediaInfo">Media Info</label>
				<div class="controls">
					<input name="mediaInfo" type="text" data-ng-model="mediaInfo" id="mediaInfo" class="form-control" placeholder="Media Info">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="docUrl">Document URL</label>
				<div class="controls">
					<input name="docUrl" type="text" data-ng-model="docUrl" id="docUrl" class="form-control" placeholder="Document URL">
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" ng-disabled="archiveForm.title.$invalid">
			</div>
			<div data-ng-show="error" class="text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</fieldset>
    </form> 
    <div class="form-group">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</div>